:root {
    --main-font-size: 16px;
    --heading-font-size: 32px;
    --h2-font-size: 28px;
    --subhead-font-size: 18px;
    --heading-font-family: 'Raleway', sans-serif;
    --main-font-family: 'Open Sans', sans-serif;
    --main-font-color: #323232;
}

body {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 16px;
    color: var(--main-font-color);
}

h1, h2 {
    font-family: var(--heading-font-family);
}

h1 {
    font-size: var(--heading-font-size);
    margin-bottom: 0;
}

h2 {
    font-size: var(--h2-font-size);
    transition: color 0.8s;
}

h2:hover {
    cursor: pointer;
    color:#9866d2;
}

p, li {
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

.aboutinfo {
    margin: 0 auto;
    display: none;
    align-items: center;
}

.abouttext {
    margin-right: 16px;
}

.aboutimg {
    width: 250px;
    flex-shrink: 0;
}

img {
    width: 100%;
    border-radius: 10px;
}

.languages {
    display: none;
}

i {
    font-size: var(--heading-font-size);
    margin-right: 10px;
}

.contact {
    display: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.project {
    min-height: 144px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
}

.project img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #9866d2;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s, visibility .8s;
    border-radius: 10px;
    text-align: center;
    padding: 0 5px;
}

.project:hover .description_layer {
    visibility: visible;
    opacity: 1;
}
  
.description_text {
    transition: .8s;
    transform: translateY(1em);
}

.description_text a {
    text-decoration: underline;
}
  
.project:hover .description_text {
    transform: translateY(0);
    opacity: 1;
}

.link_spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}